<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>IntervAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles-1.css') }}" />
</head>
<body>

    <div id="ai-intro" class="ai-intro">
        <div id="bg-image"></div>

        <h2 class="intro-text" id="intro-text"></h2>

        <div class="loading-bar">
            <div class="loading-fill" id="loading-fill"></div>
        </div>
    </div>

    <div class="container hidden" id="main-content">
        <h1>IntervAI</h1>

        <p class="welcome-message">Hi, I'm IntervAI. I heard you're a bit nervous about your interview — but don't worry, I'm here to help you ace it 💡</p>

        <p class="question">Which interview would you like to do?</p>
        <ul>
           <li onclick="location.href='/technical'">Technical</li>
           <li onclick="location.href='/cultural'">Cultural</li>
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/ai-intro.js') }}"></script>
</body>
</html>
