<!DOCTYPE html>
<html>
<head>
    <title>Login - Interview App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Login to Interview App</h2>
        <form action="/login">
            <label for="username">Username or Email</label>
            <input type="text" id="username" name="username" placeholder="Enter your username or email" required>

            <label for="password">Password </label>
            <p>Your password must be at least 8 characters and must include numbers and uppercase letters</p>
            <input type="password" id="password" name="password" placeholder="Enter your password" required minlength="8" >

            <button type="submit">Login</button>
        </form>
        <p class="signup-link">Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>
</body>
</html>
