<!DOCTYPE html>
<html>
<head>
    <title>Signup </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Signup for IntervAI</h2>
        <form method="POST" action="/signup">
            <label for="username">Username or Email</label>
            <input type="text" id="username" name="username" placeholder="Enter your username or email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required minlength="8">

            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Enter your password again" required minlength="8">

            <button type="submit">Signup</button>
        </form>
        <p class="signup-link">Already have an account? <a href="/login">Login here</a></p>
    </div>
</body>
</html>
